$main-darker: #ad2b13;
$main-color: #f26226;
$main-lighter: #e98433;

$dark-color: #212121;
$light-color: #fff;
$lighter-color: rgba(255, 255, 255, 0.7);

$accent-color: rgba(255, 255, 255, 0.2);

$gutter: 10px;
$grid-columns: 12;
