.page-content--single-advert {
  padding-top: 0;
  padding-bottom: 100px;
  
  .images-carousel {
    max-height: 300px;
    --swiper-theme-color: #f26226;
    --swiper-preloader-color: #f26226;
    --swiper-pagination-color: #f26226;
    
    .swiper-wrapper {
      align-items: stretch;
    }
    
    .swiper-slide {
      height: auto;
      
      a {
        height: 100%;
        position: relative;
      }
      
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    
    .swiper-pagination-bullet {
      opacity: .8;
      background: white;
      
      &-active-main {
        opacity: 1;
        background: $main-color;
      }
    }
    
    .swiper-button-next {
      right: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.6) 89%);
    }
    
    .swiper-button-prev {
      left: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(-90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.6) 89%);
    }
    
    .swiper-button-next, .swiper-button-prev {
      top: 20px;
      width: 50px;
      color: white;
      height: 100%;
      
      @media only screen and (max-width: 640px) {
        display: none;
      }
    }
  }
  
  .single {
    margin-top: 30px;
    
    &__title {
      line-height: 1.3;
      font-size: em(25);
      font-weight: bold;
    }
    
    &__price {
      margin: 10px 0 0 15px;
      
      .sticky {
        margin-left: auto;
        text-align: center;
        border-radius: 4px;
        padding: 30px 28px 20px;
        background: rgba(0, 0, 0, 0.05);
        
        &-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $main-color;
          position: absolute;
          top: -20px;
          right: 50%;
          transform: translateX(50%);
          
          span {
            font-size: 25px;
            color: $light-color;
          }
        }
        
        > .flex {
          & + .flex:not(.btn) {
            margin-top: 12px;
          }
          
          &.smaller {
            font-size: em(12);
          }
          
          span:nth-child(2) {
            font-weight: bold;
          }
        }
      }
      
      .btn {
        width: 100%;
        font-size: em(16);
        margin: 25px auto 0;
        
        span {
          display: block;
          margin-right: 14px;
          color: $light-color;
        }
      }
    }
    
    &__icons {
      max-width: 700px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    
    &__features {
      margin-bottom: 50px;
      
      &-title {
        font-size: em(25);
        padding-bottom: 8px;
      }
      
      li {
        font-size: em(16);
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
    
    &__details {
      &-title {
        font-size: em(25);
        padding-bottom: 12px;
      }
      
      &-text {
        p {
          max-width: 700px;
          line-height: 1.3;
          font-size: em(15);
          
          + p {
            margin-top: 8px;
          }
        }
      }
    }
    
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      
      &__icons {
        max-width: unset;
        
        .advert__info-item {
          width: 33%;
          flex: unset;
          text-align: center;
          margin-bottom: 25px;
        }
      }
      
      &__features {
        &-title {
          padding-bottom: 6px;
        }
        
        li {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
      
      &__details {
        &-text p {
          max-width: unset;
        }
      }
      
      
      > [class*="col"] {
        flex: unset;
        width: 100%;
        max-width: unset;
      }
      
      &__price {
        margin: 50px auto 0;
        max-width: 500px !important;
        
        .sticky {
          position: static !important;
        }
      }
    }
  }
}

.pswp img {
  max-width: none;
  object-fit: contain;
}