.page-content--single-advert {
  padding-top: 0;
  padding-bottom: 60px;
  
  .images-carousel {
    max-height: 300px;
    --swiper-theme-color: #f26226;
    --swiper-preloader-color: #f26226;
    --swiper-pagination-color: #f26226;
    
    .swiper-wrapper {
      align-items: stretch;
    }
    
    .swiper-slide {
      height: auto;
      
      a {
        height: 100%;
        position: relative;
      }
      
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    
    .swiper-pagination-bullet {
      opacity: .8;
      background: white;
      
      &-active-main {
        opacity: 1;
        background: $main-color;
      }
    }
    
    .swiper-button-next {
      right: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.6) 89%);
    }
    
    .swiper-button-prev {
      left: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(-90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.6) 89%);
    }
    
    .swiper-button-next, .swiper-button-prev {
      top: 20px;
      width: 50px;
      color: white;
      height: 100%;
      
      @media only screen and (max-width: 640px) {
        display: none;
      }
    }
  }
  
  .single {
    margin-top: 30px;
    
    &__title {
      font-size: em(25);
      font-weight: bold;
    }
    
    &__price {
      .sticky {
        max-width: 300px;
        margin-left: auto;
        text-align: center;
        padding: 20px 10px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.05);
      }
    }
    
    //&__price {
    //  text-align: center;
    //  position: sticky;
    //
    //  p {
    //    font-size: em(20);
    //    font-weight: bold;
    //    padding-bottom: 30px;
    //  }
    //
    //  &-valor {
    //    font-size: em(30);
    //    font-weight: bold;
    //
    //    ::after {
    //      content: '';
    //      display: block;
    //      width: 70%;
    //      margin: 13px auto 0;
    //      height: 3px;
    //      background-color: black;
    //    }
    //  }
    //}
    
    
    &__icons {
      max-width: 700px;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    
    &__details {
      &-title {
        font-size: em(25);
        padding-bottom: 12px;
      }
      
      &-text {
        p {
          max-width: 700px;
          line-height: 1.3;
          font-size: em(15);
          
          + p {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.pswp img {
  max-width: none;
  object-fit: contain;
}