.advert {
  &__list {
    margin-top: 50px;
  }
  
  &__item {
    max-width: 367px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 50px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    
    &:hover {
      box-shadow: 0 3px 6px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.23);
      transform: translate3D(0, -5px, 0);
    }
    
    @include device(medium) {
      margin-bottom: 30px;
    }
  }
  
  //* TOP
  &__top {
    position: relative;
    height: 210px;
  }
  
  &__badge {
    position: absolute;
    z-index: 2;
    color: white;
    @include type(12.8, bold);
    background-color: $main-color;
    text-transform: uppercase;
    padding: 10px 8px;
    top: 16px;
    left: 20px;
    
    &--right {
      left: unset;
      right: 20px;
      text-transform: unset;
      background-color: $dark-color;
      
      + .advert__badge--right {
        top: 58px;
      }
    }
  }
  
  &__img img {
    object-fit: cover;
    height: 210px;
    width: 100%;
  }
  
  //* BOTTOM
  &__bottom {
    padding: 20px;
  }
  
  &__city,
  &__category {
    font-weight: bold;
    text-transform: capitalize;
    
    span {
      text-transform: lowercase;
      
      &:last-of-type {
        display: none;
      }
    }
    
    &-container {
      line-height: 1.2;
    }
  }
  
  &__neighbourhood {
    margin-left: 2px;
    
    &-container {
      margin: 10px 0 26px;
    }
  }
  
  &__info {
    &-item {
      flex: 1 1 55px;
      margin-bottom: 15px;
    }
    
    &-category {
      font-size: em(16);
      margin: 10px 0 5px;
    }
    
    &-quantity {
      font-weight: bold;
      font-size: em(20);
    }
  }
  
  &__icon {
    color: $main-color;
    font-size: em(20);
    
    &--big {
      min-height: 25px;
      font-size: em(25);
    }
  }
  
  &__button {
    margin-top: 20px;
  }
}
