.banner {
  height: 567px;
  position: relative;
  @include device(medium) {
    height: 430px;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(40%);
  }
  &__text {
    color: white;
    position: relative;
    @include type(39.06, bold);
    line-height: 1.17;
    max-width: 750px;
    text-align: center;
    &::after {
      content: '';
      display: block;
      width: 70%;
      margin: 13px auto 0;
      height: 3px;
      background-color: white;
    }
    @include device(medium) {
      font-size: 24px;
      max-width: 490px;
      &::after {
        width: 40%;
      }
    }
  }
}
