.banner {
  height: 567px;
  position: relative;
  //filter: brightness(40%);
  
  background-size: cover;
  background-repeat: no-repeat;
  
  @include device(medium) {
    height: 430px;
  }
  
  &__search {
    max-width: 100%;
    
    form {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      
      max-width: 100%;
      
      > div {
        padding: 10px 20px;
        background-color: $light-color;
        
        > div {
          padding: 10px;
        }
      }
      
      > button {
        font-size: em(22);
        padding-left: 26px;
        padding-right: 26px;
      }
    }
    
    @include device(medium) {
      width: 100%;
      
      form {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 500px;
        align-items: center;
        
        > div {
          width: 100%;
          padding-bottom: 30px;
          flex-direction: column;
          
          > div {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            
            .custom-select {
              width: 100%;
            }
          }
        }
        
        button {
          width: 100%;
          margin-top: 10px;
          font-size: em(16);
        }
      }
    }
  }
}
